language: node_js
node_js:
- lts/*
script:
- |
  sed -i "/description/ a'base': '/notepad/'," docs/.vuepress/config.js
- npm run build
deploy:
  provider: pages
  skip-cleanup: true
  local_dir: public
  github-token: $GITHUB_TOKEN
  target-branch: gh-pages
  keep-history: true
  on:
    branch: master
branches:
  only:
  - master